/*-- scss:defaults --*/
/*-- https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss -- */
/*-- https://github.com/twbs/bootstrap/blob/cdcb503b88a6d3ddcc870022a740b996af0034d3/scss/_variables.scss#L1729 -- */
$small-font-size:             .80rem !default;
$code-font-size:              .85em !default;
$primary:                     #5f2042 !default;

/*-- scss:rules --*/


code {
  color: #02577A;
}
