/*-- scss:defaults --*/
$small-font-size:             0.75rem !default;
$code-font-size:              0.85em !default;
$primary:                     #2c3e50 !default; /* Flatly's primary color */
/*-- scss:callout colors --*/
$callout-border-width:        8px !default;   /* Slightly thicker for emphasis */
$callout-border-scale:        20% !default;  /* Make border slightly darker for contrast */
$callout-margin-top:      1.75rem !default;  /* More generous top margin */
$callout-margin-bottom:   1.75rem !default;  /* More generous bottom margin */
$callout-color-note:      #3498db !default; /* Vibrant blue */
$callout-color-tip:       #2ecc71 !default; /* Vibrant blue */
$callout-color-caution:   #e67e22 !default; /* Vibrant orange */
$callout-color-warning:   #f1c40f !default; /* Vibrant yellow */
$callout-color-important: #e74c3c !default; /* Vibrant red */

/*-- scss:rules --*/

code {
  color: #02577A; /* This complements the arrow style */
}

/*-- 
#173271	
#b9c1d4	
#e7eaf0	
#f3f6f4	
#5c6f9b	
--*/

.bugbox {
  margin: 1em 0;
  border: 2px solid #b9c1d4;
  border-left: 10px solid #4c9ee8; 
  border-radius: 10px;
}

.bugbox-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: #000000;
  background-color: #e7eaf0;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("images/bug-icon.png");
}

.bugbox-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.testbox {
  margin: 1em 0;
  border: 2px solid #b9c1d4;
  border-left: 10px solid #4c9ee8; 
  border-radius: 10px;
}

.testbox-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: #000000;
  background-color: #e7eaf0;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("images/testthat.png");
}

.testbox-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

/*-- https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss -- */
/*-- https://github.com/twbs/bootstrap/blob/cdcb503b88a6d3ddcc870022a740b996af0034d3/scss/_variables.scss#L1729 -- */